/* You can add global styles to this file, and also import other style files */
.contentwrapper{
    overflow-x: scroll;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 86px;
    height: 86px;
    margin: 6px;
    border: 6px solid #dfc;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #dfc transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  html {
    height: 100%;
  }
  
  body {
    background: #000000;
    color: #ffffff;
    margin: 0;
    min-height: 100%;
    height: 100%;
    position: relative;
  }
  
  .hub {
    display: block;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 9vw;
    float:left;
  }
  
  .hub span:nth-child(2) {
    background: #FF9900;
    color: #000000;
    border-radius: 1vw;
    padding: 3px;
    display: inline-block;
  }
  